<div id='chatContainer' class='p-5 mb-2 text-dark mt-5 d-block container'>
	<h3 class='text-start mt-5 mb-5 fw-bolder'>Message Center</h3>
	<form>
		<input type='text' id='author' class='form-control mb-3' placeholder='Nickname' />

		<input type='text' id='text' class='form-control' placeholder='Write your message' /><br />

		<input value='Send' class='btn btn-outline-info mt-1 gap-2 col-2 mx-auto' id='btn-chat'
			onclick='addMessages()' />


		<div class='mt-5 d-block container' id='messages'></div>

	</form>

</div>