<h3 class="text-start mt-5 mb-5 fw-bolder">
	Add product
</h3>
<form action="/productos" method="POST">

	<div class="form-group">
		<label for="title" class="fst-italic mb-2 mt-3 ms-4">Name</label>
		<input type="text" class="form-control" name="title" id="title" required minlength="1" />
	</div>
	<div class="form-group">
		<label for="price" class="fst-italic mb-2 mt-3 ms-4">Price</label>
		<input type="text" class="form-control" name="price" id="price" required minlength="1" />
	</div>
	<div class="form-group">
		<label for="thumbnail" class="fst-italic mb-2 mt-3 ms-4">URL Photo</label>
		<input type="text" class="form-control" name="thumbnail" id="thumbnail" required minlength="1" />
	</div>

	<button id="btnId" class="btn mt-3 mb-5 ms-4" style="background-color:#f48f52">Send</button>

</form>
<script src=" /public/client.js"></script>