<html lang='es'>

<head>
	<meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	{{! CDN-Bootstrap }}
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src='/socket.io/socket.io.js'></script>
	<script src='https://code.jquery.com/jquery-3.6.0.min.js'
		integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous'></script>
	<script src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'></script>
	<title>Websockets</title>
	{{!--
	<script src="/public/client.js"></script> --}}
</head>

<body id="full" class='container mt-3'>
	<main class='jumbotron'>
		{{>formulario}}
		{{>tabla}}
	</main>
	<div class='jumbotron'>
		{{>chat}}
	</div>
</body>

</html>