<h4 id="title-start" class="text-start mt-3 mb-3 fw-bolder">Product list</h4>

{{#if productos}}
<div class="table-responsive">
	<table id="table" class="table table-hover table-striped table-bordered">
		<thead>
			<tr id="tr-titles" class="mb-4">
				<th class="mx-auto"># Id</th>
				<th class="mx-auto">Pokémon</th>
				<th class="mx-auto">Price</th>
				<th class="mx-auto">Image</th>
			</tr>
		</thead>
		<tbody id="innerBody">
			{{#each productos}}
			<tr>
				<th> {{this.id}} </th>
				<th> {{this.title}} </th>
				<th> {{this.price}} </th>
				<th><img width="70" height="70" src={{this.thumbnail}} /></th>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
{{else}}
<h3 class="alert alert-danger">No products were found</h3>
{{/if}}